{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <title>Error 404 | Not Found</title>
</head>
<body>
    <h1>
        Error 404. The content you are seeking is not found. Check your URL or give <a href="#">feedback</a>
        if you think something went wrong.
    </h1>
    <h2>Go to <a href="{% url 'core:index'%}">Home</a>.</h2>
</body>
</html>