{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    {% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static '/css/index.css' %}"
    >
    {% endblock %}
    <title>
        {% block title %}
        Home | CloudMart
        {% endblock %}
    </title>
</head>

{% block body_class %} index-body {% endblock %}
{% block content %}
<div class="home_container">
    <div class="header">
        {% if user.is_authenticated %}
        <h1>Welcome, {{ user.first_name }}</h1>
        {% else %}
        <h1>Welcome, Guest</h1>
        {% endif %}
    </div>

    <div class="searchBox">
        <form action="{% url 'products:search' %}" method="get">
            <input
                class="form-control"
                type="text"
                name="q"
                id="productSearch"
                placeholder="Enter product to search..."
                value="{{ request.GET.q|default:'' }}"
            >
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
{% endblock %}

</html>