{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    {% block extra_css %}
    <link
        rel="stylesheet"
        href="{% static '/css/index.css' %}"
    >
    {% endblock %}
    <title>
        {% block title %}
        Home | CloudMart
        {% endblock %}
    </title>
</head>

{% block body_class %} index-body {% endblock %}
{% block content %}
<div class="home_container">
    <div class="header">
        {% if user.is_authenticated %}
        <h1>Welcome, {{ user.first_name }}</h1>
        {% else %}
        <h1>Welcome, Guest</h1>
        {% endif %}
    </div>

    <div class="searchBox">
        <input
            class="form-control"
            type="text"
            name="productSearch"
            id="productSearch"
            placeholder="Enter product to search..."
        >
    </div>
</div>
{% endblock %}

</html>