{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Register | CloudMart</title>
</head>
<body>
    <div class="register-container">
        <div class="register-box">
            <h2 class="text-center">Register User</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="message text-danger">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <!-- {{ form }} -->
                  <div class="form-grid">
                    <div>
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div>
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                    <div>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div>
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number }}
                    </div>
                    <div>
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div>
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                  </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</body>
</html>