{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/products_list.css' %}">
    <title>Products List</title>
</head>
<body>
    <!-- TODO: Make this page nice and interactive. Products available in inventory 
     will be shown here. Add logic to show Products. -->
    <div class="container text-center mt-5">
        {% if products %}
        <div class="row justify-content-center">
            {% for product in products %}
            <div class="col-md-6 mb-4">
                <div class="card p-3 shadow-sm">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <p class="product-price">{{ product.price }}</p>
                    <p class="product-stock">In stock: {{ product.stock }}</p>
                    <!-- TODO: Add link that'd redirect user to product details page. -->
                    <a href="{% url 'products:detail' product.id %}" class="btn btn-primary">
                        View details
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination mt-4">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ products.previous_page_number }}" class="page-link">Previous</a>
                    </li>
                    {% endif %}
                    {% for num in products.paginator.page_range %}
                    <li class="page-item {% if products.number == num %}active{% endif %}">
                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="page-item">
                        <a href="?page={{ products.next_page_number }}" class="page-link">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <!-- Condition rendering if there's nothing in Products database. -->
        {% else %}
        <h1>No products available as of now. Check back later.</h1>
        {% endif %}
    </div>
</body>
</html>